/* ########################################
############# CUSTOM FONTS ################
######################################## */
/* Provide variable fonts as main format. */
@font-face {
  /* Use VF to make it distinguishable from static fonts. */
  font-family: 'Fraunces VF';
  src:
    local('Fraunces'),
    url('/assets/fonts/Fraunces/Fraunces-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/Fraunces/Fraunces-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/Fraunces/Fraunces-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  /* Allowable range for the weight of the variable font. */
  font-weight: 700;
  /* Displaying text quickly is a top priority, but ensure the custom web-font is used. */
  font-display: swap;
}
@font-face {
  /* Use VF to make it distinguishable from static fonts. */
  font-family: 'Montserrat VF';
  src:
    local('Montserrat'),
    url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff2')
      format('woff2-variations'),
    url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff')
      format('woff-variations'),
    url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
      format('truetype-variations');
  font-style: normal;
  /* Allowable range for the weight of the variable font. */
  font-weight: 500 700;
  /* Displaying text quickly is a top priority, but ensure the custom web-font is used. */
  font-display: swap;
}
/* Provide static fonts as a fallback. */
@font-face {
  font-family: 'Fraunces';
  src:
    local('Fraunces'),
    url('/assets/fonts/Fraunces/static/Fraunces-Bold.woff2') format('woff2'),
    url('/assets/fonts/Fraunces/static/Fraunces-Bold.woff') format('woff'),
    url('/assets/fonts/Fraunces/static/Fraunces-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('/assets/fonts/Montserrat/static/Montserrat-Medium.woff2')
      format('woff2'),
    url('/assets/fonts/Montserrat/static/Montserrat-Medium.woff') format('woff'),
    url('/assets/fonts/Montserrat/static/Montserrat-Medium.ttf')
      format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('/assets/fonts/Montserrat/static/Montserrat-Bold.woff2') format('woff2'),
    url('/assets/fonts/Montserrat/static/Montserrat-Bold.woff') format('woff'),
    url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf')
      format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
/* ########################################
############# STYLE GUIDE #################
######################################## */
:root {
  --color-primary: hsl(30, 38%, 92%);
  --color-accent: #3c8067;
  --color-accent-dark: #114632;
  --color-complementary: #a34720;
  --color-neutral-50: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(228, 12%, 48%);
  --color-neutral-900: hsl(212, 21%, 14%);

  --font-body-small: 0.75rem;
  --font-body: 0.875rem;
  --font-heading: 2rem;

  --border-radius: 8px;
  --spacing: 1.5rem;
  --transition-duration-timing: 150ms ease-out;
}

/* ########################################
############# RESET #######################
######################################## */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  display: inline-block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

/* ########################################
############# BASIC STYLING ###############
######################################## */
body {
  color: var(--color-neutral-400);
  font-size: var(--font-body);
  font-weight: 500;
  /* Use static fonts by default... */
  font-family: 'Montserrat', sans-serif;
  /*...but prefer loading variable font if supported (feature query). */
  @supports (font-variation-settings: normal) {
    font-family: 'Montserrat VF', sans-serif;
  }
}

h1,
.price-discount {
  line-height: 1;
  font-size: var(--font-heading);
  /* Use static fonts by default... */
  font-family: 'Fraunces', sans-serif;
  /*...but prefer loading variable font if supported (feature query). */
  @supports (font-variation-settings: normal) {
    font-family: 'Fraunces VF', sans-serif;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  background-color: var(--color-primary);
}

.footer {
  padding: var(--spacing);
  color: var(--color-neutral-900);
  text-align: center;
  & .footer-icon {
    color: var(--color-accent);
  }
  & .footer-link {
    transition: all var(--transition-duration-timing);
    &,
    &:link {
      color: var(--color-complementary);
      text-underline-offset: 4px;
    }
    &:visited {
      color: var(--color-neutral-400);
    }
    &:focus-visible,
    &:hover {
      color: var(--color-accent);
      outline-color: var(--color-accent);
      outline-offset: 1px;
    }
    &:focus-visible {
      text-decoration: none;
    }
    &:hover {
      font-weight: 700;
    }
    &:active {
      color: var(--color-neutral-900);
    }
  }
}

/* ########################################
########### COMPONENT STYLING #############
######################################## */
.product {
  margin-inline: auto;
  width: min(90%, 25em);
  display: grid;

  background-color: var(--color-neutral-50);
  border-radius: var(--border-radius);
  overflow: hidden;

  @media (min-width: 43.75em) {
    width: min(90%, 45em);
    grid-template-columns: repeat(2, 1fr);
  }

  & .product-thumbnail {
    & img {
      @media (min-width: 43.75em) {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .product-info {
    padding: var(--spacing);
    display: grid;
    gap: calc(0.8 * var(--spacing));

    @media (min-width: 43.75em) {
      padding: calc(1.5 * var(--spacing));
      gap: calc(1.25 * var(--spacing));
    }
  }

  & .product-tag {
    font-size: var(--font-body-small);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  & .product-heading {
    margin-top: calc(0.4 * var(--spacing));
    color: var(--color-neutral-900);

    @media (min-width: 43.75em) {
      margin-top: calc(0.75 * var(--spacing));
    }
  }

  & .product-pricing {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: calc(0.2 * var(--spacing)) calc(0.75 * var(--spacing));
  }

  & .price-discount,
  & .price-original {
    display: flex;
    flex-flow: row-reverse;
  }

  & .price-discount {
    color: var(--color-accent);
  }

  & .price-original {
    text-decoration: line-through;
  }

  & .product-btn {
    padding: calc(0.5 * var(--spacing));
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    gap: calc(0.6 * var(--spacing));

    background-color: var(--color-accent);
    border-radius: var(--border-radius);

    color: var(--color-neutral-50);
    font-weight: 700;
    transition: all var(--transition-duration-timing);

    &:hover,
    &:focus-visible {
      background-color: var(--color-accent-dark);
    }
    &:focus-visible {
      outline-offset: 4px;
      outline-color: var(--color-accent);
    }
    &:active {
      translate: 0 2%;
    }
  }
}
